@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #888;
  --accent-color: #8800c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}
p {
  color: var(--secondary-text-color);
}
a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.hover-link {
  cursor: pointer;
  border-radius: 4px;
}
.hover-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hover-link:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnn {
  padding: 12px 16px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.btnn:hover {
  background-color: #9800df;
}
.btnn:active {
  background-color: #b413ff;
}
.up {
  color: rgb(165, 165, 186);
}
.down {
  color: rgb(165, 165, 186);
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
