.cat {
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: #0d122f;
  overflow-y: auto;

  .Cat {
    display: flex;
    flex-direction: column;
    .content {
      margin-top: 20px;
      margin-left: 40px;
      width: 850px;
      z-index: 99;
      position: sticky;
      padding: 10px;
      top: 0;

      .backButton {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #5143d0;
        cursor: pointer;

        .icon {
          font-size: 1.3rem;
        }
      }
      .banner {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: space-between;
        .heading {
          .title {
            color: rgb(244, 244, 244);
          }
          .entry {
            margin-top: 5px;
            color: rgb(165, 165, 186);
          }
        }
        .ctr-btn {
          display: flex;
          align-items: center;
          color: rgb(244, 244, 244);
          gap: 5px;
          background-color: #435fff;
          padding: 8px 14px;
          border-radius: 4px;
          cursor: pointer;

          p {
            color: rgb(244, 244, 244);
          }
        }
      }
    }
  }
  .catgories {
    margin-top: 20px;
    margin-left: 40px;
    width: 850px;
    background-color: #0b0f26;
    padding-inline: 25px;
    padding-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .head {
      display: flex;
      align-items: center;
      border-bottom: 0.1em solid #474f7a6c;
      padding-block: 25px;
      .openCheck {
        background-color: #0b0f26;
        border: 0.1em solid #474f7a;
        display: flex;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        cursor: pointer;
        .tick {
          color: #0b0f26;
        }
      }

      .closeCheck {
        border: 0.1em solid #474f7a;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #4f60c2;

        .tick {
          color: rgb(244, 244, 244);
        }
      }
      .heading {
        display: flex;
        margin-inline: 25px;
        .id {
          display: flex;
          position: relative;
          gap: 3px;
          width: 60px;

          p {
            color: rgb(165, 165, 186);
            font-weight: 600;
            font-size: 0.875rem;
            cursor: pointer;
          }
          .none {
            display: none;
          }
          &:hover::before {
            content: "Sort on date";
            position: absolute;
            top: -35px;
            left: 20%;
            font-weight: 700;
            transform: translateX(-50%);
            background-color: rgb(244, 244, 244);
            color: black;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 12px;
            white-space: nowrap;
          }
        }
        .title {
          display: flex;
          width: 120px;
          gap: 3px;

          position: relative;

          p {
            color: rgb(165, 165, 186);
            font-weight: 600;
            font-size: 0.875rem;
            cursor: pointer;
          }
          .none {
            display: none;
          }
          &:hover::before {
            content: "Sort on title";
            position: absolute;
            top: -35px;
            left: 20%;
            font-weight: 700;
            transform: translateX(-50%);
            background-color: rgb(244, 244, 244);
            color: black;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 12px;
            white-space: nowrap;
          }
        }
        .key {
          display: flex;
          width: 100px;
          gap: 3px;

          position: relative;
          p {
            color: rgb(165, 165, 186);
            font-weight: 600;
            font-size: 0.875rem;
            cursor: pointer;
          }
          .none {
            display: none;
          }
          &:hover::before {
            content: "Sort on key";
            position: absolute;
            top: -35px;
            left: 20%;
            font-weight: 700;
            transform: translateX(-50%);
            background-color: rgb(244, 244, 244);
            color: black;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 12px;
            white-space: nowrap;
          }
        }
        .image {
          width: 120px;

          p {
            color: rgb(165, 165, 186);
            font-weight: 600;
            font-size: 0.875rem;
          }
        }
        .products {
          width: 100px;
          p {
            color: rgb(165, 165, 186);
            font-weight: 600;
            font-size: 0.875rem;
          }
        }
      }
    }
    .cat-list {
      .cat-item {
        display: flex;
        border-bottom: 0.1em solid #474f7a6c;
        padding-block: 25px;
        cursor: pointer;
        .openCheck {
          background-color: #0b0f26;
          border: 0.1em solid #474f7a;
          display: flex;
          height: 20px;
          width: 20px;
          border-radius: 5px;
          cursor: pointer;
          .tick {
            color: #0b0f26;
          }
        }

        .closeCheck {
          border: 0.1em solid #474f7a;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 20px;
          border-radius: 5px;
          cursor: pointer;
          background-color: #4f60c2;

          .tick {
            color: rgb(244, 244, 244);
          }
        }
        .desc {
          display: flex;
          margin-inline: 25px;
          .id {
            display: flex;
            width: 60px;

            p {
              color: rgb(244, 244, 244);
              font-size: 0.875rem;
            }
            .none {
              display: none;
            }
          }
          .title {
            display: flex;
            width: 120px;

            p {
              color: rgb(244, 244, 244);
              font-size: 0.875rem;
            }
            .none {
              display: none;
            }
          }
          .key {
            display: flex;
            width: 100px;
            p {
              color: rgb(244, 244, 244);
              font-size: 0.875rem;
            }
            .none {
              display: none;
            }
          }
          .image {
            width: 120px;
            display: flex;

            img {
              color: rgb(244, 244, 244);
              font-size: 0.875rem;
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
            p {
              color: rgb(165, 165, 186);
            }
          }
          .products {
            width: 100px;
            p {
              color: rgb(244, 244, 244);

              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}
