.Navbar {
  background-color: var(--primary-text-color);
  height: 80px;
  z-index: 99;
  color: white;
  position: sticky;
  top: 0;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-left {
      text-transform: uppercase;
      .link-group {
        list-style: none;
        display: flex;
        gap: 16px;

        .link {
          display: inline-block;
          padding: 6px;
        }
      }
    }

    .nav-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      background-color: var(--primary-text-color);

      .banner {
        color: white;
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 5px;
      .ava-log {
        display: flex;
        align-items: center;
        gap: 5px;
        .logOutContainer {
          text-transform: uppercase;
          cursor: pointer;
          .logOut {
            padding: 7px 14px;
            background-color: var(--primary-text-color);
            border: 1px solid rgb(128, 122, 122);
            p {
              color: white;
            }
          }
        }
        .avatar {
          padding: 6px;
          position: relative;
          .avatar-cont {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          &:hover::before {
            content: attr(data-email);
            position: absolute;
            top: -19px;
            left: 20%;
            transform: translateX(-50%);
            background-color: rgb(244, 244, 244);
            color: black;
            border-radius: 4px;
            font-size: 17px;
            width: 230px;
            padding: 3px;
          }
        }
      }

      .signin {
        padding: 6px;
        cursor: pointer;
        .icon1 {
          font-size: 1.4rem;
        }
      }
      .nav-cart {
        position: relative;
        padding: 6px;
        cursor: pointer;
        .icon {
          font-size: 1.4rem;
        }
        .cart-count {
          position: absolute;
          width: 18px;
          height: 18px;
          top: -4px;
          right: -2px;
          background-color: var(--accent-color);
          color: white;
          font-size: 0.6rem;
          border-radius: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Navbar {
    .nav-container {
      .nav-left {
        display: none;
      }

      .nav-center {
        position: static;
        transform: translateX(0);
      }
    }
  }
}
